body{
    background-image: url("psbackground.jpg");
}

.ps5bemut{
    font-size: larger;
    font-weight: 700;
    margin-left: 150px;
    margin-right: 150px;
}
.ps5{
    margin-top: 100px;
    float: left;
}
.ar1{
    color: white;
}
.ps5egy{
    color: white;
    font-weight: bolder;
    font-size: x-large;
}
.ar2{
    float: right;
    color: white;
}
.ps5ketto{
    margin-top: 100px;
}
.ps5harom{
    color: white;
    float: right;
    font-weight: bolder;
    font-size: x-large;
    margin-left: 500px;
}
.szimulacio{
    color: white;
}
button:hover{
    cursor: pointer;
    box-shadow: 0 2px 50px 0 aqua,0 2px 50px 0 darkblue,0 2px 50px 0;
    transition: 0.5s;
}
a:hover{
    cursor: pointer;
    box-shadow: 0 5px 50px 0 rgb(2, 22, 110),0 5px 50px 0 rgb(0, 83, 138);
    transition: 0.5s;
}